<nav>
    <ul>
        <li><strong>FOTOTECA </strong></li>
    </ul>
    <ul>
        <li><a href="/">Mostrar Imágenes</a></li>
        <li><a href="/add-image-form">Añadir Imagen</a></li>
    </ul>
</nav>