<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add New Image</title>
    <%- include('./partials/head') %>
</head>
<body>
    <header class="container">
        <%- include('./partials/nav') %>
    </header>
    <form class="container" action="/add-image-form" method="post">
        <label for="title">Nombre</label>
        <!-- 3. Añadir los otros campos del formulario y sus validaciones -->
        <input type="text" name="title" id="title" maxlength="30" pattern="[0-9A-Za-z\s_]+" required title="Los títulos de las imágenes solo pueden contener; mayúsculas, minúsculas, números, espacios en blanco y guión bajo">
        <label for="url">URL imagen</label>
        <input type="url" name="url" id="url" required>
        <label for="date">Fecha</label>
        <input type="date" name="date" id="date" required>
        <input class="submit btn" type="submit" value="Añadir">
    </form>
    <!-- Mostrar un mensaje de confirmación si el usuario acaba de insertar una imagen en la 'base de datos'-->
    <% if (isImagePosted) { %>
        <div id="message" class="container alert success">Imagen insertada correctamente</div>
    <% } else if (urlExist) { %> 
        <div id="message" class="container alert error">La URL ya existe en el array de imágenes.</div>
    <% } %>
</body>
</html>